html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("/img/choseTestBackGround.png"); /* 正確路徑 public/img */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 外殼 */
.question-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

/* 打勾動畫 */
.checkmark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: white;
}

.checkmark {
  width: 100px;
  height: 100px;
}

.checkmark-path {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: drawCheck 1s ease forwards;
}

@keyframes drawCheck {
  to {
    stroke-dashoffset: 0;
  }
}

.success-text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
