@import "tailwindcss";

:root {
  --animation-background: #f0f3fc;
  --animation-object: #1f3499;
  --answering-background-btn: #fcc419;
  --answering-text-btn: #00113b;
  --background: #edf2ff;
  --background-btn: #1864ab;
  --bar-background: #00091f;
  --bar-overlay: rgba(0, 0, 0, 0.8);
  --confirm-btn: #04aa6d;
  --footer-background: #000;
  --footer-text: #b8b8b8;
  --header-text: #3b3535;
  --icon-hover: #afafaf;
  --logo: #868e96;
  --log-in-btn: #001b5e;
  --menu-background: #00113b;
  --ocean-blue: #4c6ef5;
  --plan-subscribe-btn: #4d67a8;
  --plan-list: #2f9e44;
  --plan-text-list: #2f9e44;
  --pagiantion-background: #bac8ff;
  --pagiantion-disactive: #cbd2ee;
  --pagiantion-current: #212529;
  --paragraph-text: #514b4b;
  --question-filter-btn: #4360ac;
  --question-filter: #e9ecef;
  --question-checkbox: #2b8a3e;
  --subtitle: #646b71;
  --sign-up-btn: #4360ac;
  --spinner-background: #3498db;
  --spinner-loading: #cce5ff;
  --text-btn: #e7f5ff;
  --test-paper-header: #1971c2;
  --test-paper-text: #339af0;
  --white: #fff;
}

@theme {
  --font-pricing: Arial, sans-serif;
}
