.container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.content {
  flex: 1;
  padding: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
}

.svg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  background-color: bisque;
}
