.container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  align-items: center;
}

.content {
  flex: 1;
  padding: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.svg {
  width: 25px;
  height: 25px;
  border-radius: 15px;
}
