.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
  align-items: center;
  background-color: var(--warm);
}

.list {
  background-color: var(--background);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 800px;
  padding: 0 10px;
  align-items: center;
  box-shadow: 0px 0px 3px 2px rgba(198, 198, 198, 0.758);
}

.loading {
  background-color: var(--animation-object);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: var(--text-btn);
  opacity: 0;
  animation: loading 1s infinite alternate-reverse;
  font-size: 32px;
  font-weight: 800;
}

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
