@keyframes star_flashing {
  0%   {transform: scale(0.8, 0.8);}
  50%  {transform: scale(1.3, 1.3);}
  100% {transform: scale(0.8, 0.8);}
}


img.star_img{
  z-index: 1;
  position: absolute;
  animation-name: star_flashing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
div.page_container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

}

div.main{
  /* width: 412px; */
  background-color: var(--score-background);
  /* padding: 10px; */
  flex: 1;
}
div.score_display_area {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  width: 100%;

}
img.score_display_img{
  z-index: 0;
  object-fit:cover;
  object-position:center;
  width: 412px;
}
div.star_display_area{
  position: absolute;
  width: 100%;
  height: 100%;
}
div.score_display_text{
  top:10%;
  left:10%;
  right:10%;
  bottom:10%;
  height: auto;
  position:absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  
  justify-content: space-evenly;
  align-items: center;
}
div.scoreYouGet_text{
  font-size: 40px;
  color: var(--score-display-text);
}
div.score_get{
  color: var(--score-display-text);
}
span.your_score{
  font-size: 60px;
}
span.total_score{
  font-size: 30px;
}
div.answer_status{
  background-color: var(--background);
  border-radius: 15px;
  font-size: 15px;
  padding: 10px;
}
span.total_questions{}
span.correct_answer_questions{

}
div.question_area {
  margin: 10px;
  background-color: var(--background);
  border-radius: 20px;
  padding: 10px;
}

div.question_answer_correct {

}

div.question_answer_wrong {

}

div.question_choosed {

  margin: 10px;

  
  overflow: hidden;
}

div.question_not_choosed {}

div.question_topic {
  display: flex;
  
  flex-direction: column;
}

div.topic_choosed {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
  
div.topic_not_choosed {

}
span.question_topic_head{
  border-bottom: 1px black dashed;
  display: inline-flex;
  align-items: center;
}
span.question_topic_head_choosed{
 width: 100%;
}
span.question_topic_head_not_choosed{}
img.right_or_false_img{
  width: 20px;
}
span.next_img_text{
  margin-left: 10px;
  font-size: 30px;

}
span.next_img_text_choosed{
  display: block;
}
span.next_img_text_not_choosed{
  display: block;
}
div.dropDown_content {
  padding-top: 10px;
}

span.question_topic_text {
  font-size: 18px;
}

span.topic_text_choosed {}

span.topic_text_not_choosed {
  overflow: hidden;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  /* max-height: 60px; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  
}

div.dropDown_content_visible {
  display: block;
  border-top: 1px solid black;
}

div.dropDown_content_disable {
  display: none;
}

div.answer_row {
  width: 100%;
}

div.your_answer {}

div.right_answer {}

div.solution_area{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
button.solution_link{
  width: fit-content;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.281);
  background-color: var(--background-btn);
  color: var(--text-btn);
}
div.menu_area{
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  padding-bottom: 10px;
}
div.time_area{
  width: 100%;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}
div.menu_area_link{
  min-width: 150px;
  color: var(--text-btn);
  width: 50%;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 0px 0px 2px black;
}
div.achievement_link{
  background-color: var(--score-button-achievement);
}
div.practice_link{
  background-color: var(--score-button-practice);
}
div.main_page_link{
  background-color: var(--score-button-toMainPage);
}
a.link_button{
  display: block;
}
a.link_button:link{
  text-decoration:none;
}
a.link_button:visited{
  color:unset
}
a.link_button:hover{}
a.link_button:active{}

