.sign-up {
  background-color: var(--sign-up-btn);
  color: var(--sign-up-text-btn);
  text-align: center;
  min-width: 75px;
  min-height: 40px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  padding: 0 10px;
  cursor: pointer;
}

.log-in {
  background-color: var(--log-in-btn);
  color: var(--log-in-text-btn);
  text-align: center;
  min-width: 75px;
  min-height: 40px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  padding: 0 10px;
  cursor: pointer;
}
