.btn {
    background-color: var(--background-btn);
    color: var(--text-btn);
    text-align: center;
    min-width: 75px;
    min-height: 40px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
}
