.btn {
  background-color: var(--background-btn);
  color: var(--text-btn);
  text-align: center;
  min-width: 7.5rem;
  min-height: 4rem;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0 1rem;
  cursor: pointer;
}
