.btn-container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  width: 100%;
  min-width: 390px;
  min-height: 60px;
  background-color: var(--test-paper-btn);
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 1px rgba(1, 80, 145, 0.5);
}

.title {
  font-size: 20px;
  font-weight: 800;
  color: var(--test-paper-header);
  white-space: nowrap;
}

.content {
  max-width: 390px;
  font-size: 16px;
  color: var(--test-paper-text);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
