.icon {
    width: 50px;
    height: 50px;
    stroke: var(--logo);
    stroke-width: 20px;
    stroke-linecap: round;
    cursor: pointer;
}

.active {
    width: 50px;
    height: 50px;
    stroke: var(--logo-active);
    stroke-width: 20px;
    stroke-linecap: round;
    cursor: pointer;
}
