.container {
  background-color: var(--background);
  min-height: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  color: var(--headerColor);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  position: relative;
}

.myform {
  width: 100%;
  max-width: 372px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0 20px 0;
}

.myform label {
  color: var(--subtitle);
  font-size: 15px;
}

.myform input,
.myform select {
  border-radius: 10px;
  border-width: 1.5px;
  border-style: groove;
  width: 100%;
  height: 35px;
  margin: 5px 0px 5px 0px;
  padding-left: 5px;
}

.myform select {
  text-align: center;
}

.mybtn {
  background-color: var(--background-btn);
  color: var(--text-btn);
  border-radius: 10px;
  border-width: 1.5px;
  border-style: groove;
  width: 100%;
  height: 35px;
  margin: 15px 0px 5px 0px;
}
