
    .container {
        background-color: #868E96;
        padding: 20px;
    }

    .head {
        color: #3B3535;
        text-align: center;      
    }

    .head img {
        width: 300px;
    }

    .myform {
        background-color: white;
        padding: 20px;
        border-radius: 15px;
    }

    .myform span {
        color: #9AA0A7;
        font-size: 15px;
    }

    input, select {
        border-radius: 10px;
        border-width: 1.5px;
        border-style: groove;
        width: 100%;
        height: 25px;
        margin: 5px 0px 5px 0px;
    }

    .mybtn {
        background-color: #3C4248;
        color: white;
        border-radius: 10px;
        border-width: 1.5px;
        border-style: groove;
        width: 100%;
        height: 30px;
        margin: 15px 0px 5px 0px;
    }

    footer {
        background-color: black;
        
        height:25px;        
        color: white;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

