.about {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
}

.img {
  width: 100%;
  height: 22rem;
}

.h1 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
  padding: 1rem;
  color: var(--header-text);
}

.p {
  font-size: 1.6rem;
  text-align: left;
  padding: 0 1rem 1rem 1rem;
  color: var(--paragraph-text);
}
