.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  min-height: 7rem;
  position: sticky;
  top: 0;
  background-color: var(--background);
  z-index: 999;
}
.navbarcomponent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.active {
  background-color: var(--bar-background);
}
