.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 220px;
  background-color: var(--question-filter);
  z-index: 999;
}

.overlay {
  left: 0;
  top: 220px;
  height: calc(100vh - 220px);
  width: 100%;
  position: fixed;
  background-color: var(--bar-overlay);
  z-index: 999;
}

.checkboxContainer {
  height: 150px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.btn {
  background-color: var(--background-btn);
  color: var(--text-btn);
  width: calc(100vw - 40px);
  border-radius: 10px;
  min-height: 40px;

  cursor: pointer;
  margin: 10px auto 30px auto;
}

.checkbox {
  display: flex;
  gap: 10px;
  font-weight: 800;
  align-items: center;
  min-width: 200px;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: var(--question-checkbox);
  cursor: pointer;
}
